<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <nav class="bg-gradient-to-r from-purple-600 to-indigo-600">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <a href="#">
        <i class="fab text-3xl px-2 fa-wordpress"></i>
          {{!-- <img class="h-10" src="https://via.placeholder.com/50x50" alt="Logo"> --}}
        </a>
        <a href="#" class="ml-4 text-lg font-semibold text-white hover:text-gray-200">
          Home
        </a>
        <a href="#" class="ml-6 text-lg font-semibold text-white hover:text-gray-200">
          About
        </a>
        <a href="#" class="ml-6 text-lg font-semibold text-white hover:text-gray-200">
          Contact
        </a>
        <a href="#" class="ml-6 text-lg font-semibold text-white hover:text-gray-200">
          Services
        </a>
      </div>
      <div class="flex items-center">
        <a href="#" class="text-lg font-semibold text-white hover:text-gray-200">
          Login
        </a>
        <a href="#" class="ml-4 inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600">
          Sign up
        </a>
      </div>
    </div>
  </div>
</nav>
 
</body>
</html>