nav {
    display: flex;
    justify-content: space-around;
}

nav .ul{
    display: flex;

}

nav .ul li{
    margin-right: 20px;
    list-style: none;
}

.bl{
    background-color: red;
    display: none;
}

.onHover:hover{
    .bl{
        display: block;
    }
}