nav {
    display: flex;
    justify-content: space-around;
}

nav .ul{
    display: flex;

}

nav .ul li{
    
    list-style: none;
}

.bl{
    background-color: red;
    visibility: hidden;
}

.onHover:hover{
    .bl{
        visibility: visible;
    }

}