<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<style>
    .body-bg {
        background-image: linear-gradient(green, orange, blue);
        height: 105vh;


    }
</style>
{{>navbar}}
<body class="body-bg">
    <div class="boy-bg">
        <form action="/contnactpost" class="" method="post">

            <div class="container mx-auto mt-20">
                <div class="text-center text-5xl text-white">Contact Us</div>

                <div class="text-center mt-7 text-xl text-white">Your feed back is everything</div>

                <div class="text-center mt-8">
                    <input name="name"
                        class="border-2 h-10 w-96 px-3 rounded-md outline-none bg-slate-800 text-white border-slate-300"
                        type="text " placeholder="Name">
                    <input name="email" type="email"
                        class="px-3 border-2 h-10 w-96 rounded-md outline-none bg-slate-800 text-white border-slate-300"
                        type="text " placeholder="Email">
                </div>


                <div class="text-center mt-5">
                    <div class="mb-2 text-2xl">Message</div>
                    <textarea name="message" class="bg-slate-800 p-2 text-white border-2 rounded-3xl border-black"
                        cols="45" rows="7"></textarea>
                </div>

                <div class="text-center mt-7">

                    <input type="submit" value="submit" class=" bg-black text-white rounded-xl w-20 h-9">
                </div>
            </div>
    </div>

    </form>

{{>footerWhite}}
</body>


</html>