/* ul{
    display: flex;
    list-style: none;
}

nav{
    height: 10vh;
    background-color: red;
    display: flex;
    align-items: center;
}

.listItem{
    margin-right: 10px;

} */


/* 
.container .rowe{
    height: 20vh;
} */


Body {
    background-color: black;
    color: green;
}

