<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/output.css">
</head>

<body>

    <div class="conta flex w-full text-white ">
        <!-- left container -->
        <div class="left w-2/12 bg-slate-900">
            <div class="p-3 border-b-[.1rem] cursor-pointer">
                <div>
                    <span class="px-4">
                        +
                    </span>
                    New chat
                </div>
            </div>

        </div>

        <!-- right container  -->
        <div class="right w-10/12 bg-gray-800">
            <div class="h-[100vh]">

                <div class="heading text-3xl  mt-10 text-center">
                    Chant GPT <span class="text-[.5rem]">not chat GPT</span>
                </div>

                <!-- cards container with three cards in it -->
                <div class="cards-conta flex justify-around items-center mt-10">

                    <!-- first box -->

                    <div class="card w-[16rem] ">
                        <div class="flex flex-col justify-center items-center">

                            <div class="icon">
                                <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24"
                                    stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em"
                                    width="1em" xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-stroke=""
                                    style="--darkreader-inline-stroke: currentColor;">
                                    <circle cx="12" cy="12" r="5"></circle>
                                    <line x1="12" y1="1" x2="12" y2="3"></line>
                                    <line x1="12" y1="21" x2="12" y2="23"></line>
                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                    <line x1="1" y1="12" x2="3" y2="12"></line>
                                    <line x1="21" y1="12" x2="23" y2="12"></line>
                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                </svg>
                            </div>

                            <div class="title py-3">
                                Examples
                            </div>
                        </div>

                        <div class="content">
                            <div class="content-1 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">"Explain quantum
                                computing
                                in simple terms" →</div>
                            <div class="content-2 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                "Got any creative ideas for a 10 year old’s birthday?" →
                            </div>
                            <div class="content-3 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                "How do I make an HTTP request in Javascript?" →
                            </div>
                        </div>

                    </div>

                    <div class="card w-[16rem] ">
                        <div class="flex flex-col justify-center items-center">

                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-6 w-6" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path></svg>
                            </div>

                            <div class="title py-3">
                                Capabilities
                            </div>
                        </div>

                        <div class="content">
                            <div class="content-1 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                Remembers what user said earlier in the conversation
                            </div>
                            <div class="content-2 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                Allows user to provide follow-up corrections
                            </div>
                            <div class="content-3 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                Trained to decline inappropriate requests
                            </div>
                        </div>

                    </div>
                    <div class="card w-[16rem] mt-1">
                        <div class="flex flex-col justify-center items-center">

                            <div class="icon">
                                <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24"
                                    stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em"
                                    width="1em" xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-stroke=""
                                    style="--darkreader-inline-stroke: currentColor;">
                                    <path
                                        d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                                    </path>
                                    <line x1="12" y1="9" x2="12" y2="13"></line>
                                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                </svg>
                            </div>

                            <div class="title py-3">
                                Limitations
                            </div>
                        </div>

                        <div class="content">
                            <div class="content-1 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                May occasionally generate incorrect information
                            </div>
                            <div class="content-2 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                May occasionally produce harmful instructions or biased content
                            </div>
                            <div class="content-3 w-[16rem]  bg-slate-700 p-3 mb-3  rounded-xl">
                                Limited knowledge of world and events after 2021

                            </div>
                        </div>

                    </div>
                </div>
                <!-- card conta ends here -->

                <div class="input text-center mt-10">
                    <input type="text" class="w-[50vw] px-2 border-none outline-none rounded-lg h-10 bg-slate-700">
                </div>
                <span class="relative left-[55rem]  bottom-[1.7rem] text-black">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-stroke=""
                        style="--darkreader-inline-stroke: currentColor;">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </span>
                <div class="text-center text-sm mt-5">
                    Free Research Preview. ChatGPT may produce inaccurate information about people, places, or facts.
                    <span class="underline">
                        <a target="_sahith" href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes">
                            ChatGPT May 12 Version</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</body>

</html>