@tailwind base;
@tailwind components;
@tailwind utilities;


.setBackground {
    background-image: url("./assets/photo.png");
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.font-amita {
    /* font-family: 'Akaya Kanadaka'; */
    font-family: 'Amita';
}

.leftBox {
    @apply float-left clear-both max-w-[40%] bg-gray-500 shadow-2xl rounded-xl px-3 my-[.15rem]
}

.rightBox {
    @apply float-right clear-both max-w-[40%] bg-green-500 shadow-2xl rounded-xl px-3 my-[.15rem]
}

.name{
    @apply text-orange-400
}

.message{
    @apply text-white
}

<button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">

  