@tailwind base;
@tailwind components;
@tailwind utilities;


.setBackground {
    background-image: url("./assets/photo.png");
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.font-amita {
    /* font-family: 'Akaya Kanadaka'; */
    font-family: 'Amita';
}

.leftBox {
    @apply float-left clear-both max-w-[40%] bg-gray-500 shadow-2xl rounded-xl px-3 my-[.15rem]
}

.rightBox {
    @apply float-right clear-both max-w-[40%] bg-green-500 shadow-2xl rounded-xl px-3 my-[.15rem]
}

.name {
    @apply text-orange-400
}

.message {
    @apply text-white
}

.ticTacToeBox {
    @apply flex items-center justify-center text-[200%] font-amita border-2 w-[10vw] h-[10vw] cursor-pointer
}