*{
    padding: 0;
    margin: 0;
}
#logo{
    height: 3rem;
    
    border: .1rem solid white;
    border-radius: 1.5rem;
}

nav{
    display: flex;
    justify-content: center;
}

.container{
    min-height: 70vh;
    background-color: red;
    width: 70vw;
    margin: auto;

}

.left{
    float: left;
    clear: both;
    
}

.right{
    float: right;
    clear: both;
}

.message{
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}



#send-container{}