*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 70vw;
    height: 70vh;
    background-color: yellow;
    margin: auto;

}
.message{
    background-color: gray;
    width: 30%;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid black;
    border-radius: .5rem;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}



.right{
    float: right;
    clear: both;

}

#send-container{
    text-align: center;
}

#messageInp{
    width: 56rem;
    border: .1rem solid black;
    height: 1.7rem;
    border-radius: .3rem;

}

.btn{
    padding: .2rem .4rem;
    font-size: .9rem;
    border: .1rem solid black;
    border-radius: .4rem;
    color:black;

    background-image: linear-gradient(white,green);
    

}