*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans" , sans-serif;
}

body{
    background-color: black;
    color: white;
    
}

.App{
    padding: 2rem;
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}


h4{
    font-size: 18px;
    color: rgb(48, 39, 39);
}