.product{
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: white;
    flex-direction: column;
}


.product > div >  img{
    height: 200px;
    width: 100%;
    object-fit: contain;
}