*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.row{
    margin: 0;

}

.navbar{
    color: red;
}

@media (max-width = 800) {
    .navbar{
        background-color: red;
    }
}

.bgKeLiye{
    background-color: rgb(25, 118, 127);
}


.fa-snowflake{
    animation: rotun 1s  infinite ;
}
@keyframes rotun {
    0%{
        transform: rotate();
    }
}