*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-inner div img{
    height: 50vh;
}

.row{
    margin: 0;

}

.navbar{
    color: red;
}

@media (max-width = 800) {
    .navbar{
        background-color: red;
    }
}